@{
    ViewBag.Title = "Index";
}

<h2>Criminal Report</h2>
<h3>This is under construction and will be expanded in future. Not covered in provided time</h3>


<p>
    @Html.ActionLink("Back to List", "Index")
</p>
